{% extends 'base.html' %}

{% block content %}


<div class="container mt-5 d-flex align-items-center justify-content-around donate-wrapper">
    <div class="row w-100 align-items-center justify-content-between d-flex">
        <div class="col-lg-5 d-flex align-items-center justify-content-center flex-column gap-5 col-md-6 img-side">
            <img style="width: 40%;" src="{{order.book.img.url}}" alt="">
            <h2 class="primary-heading">
                {{order.book.title}}
            </h2>
            <p class="donate-text text-center">
                {{order.book.desc}}
            </p>
        </div>
        <div class="col-lg-5 d-flex justify-content-center flex-column gap-5 col-md-6 btn-side">
            <div id="paypal-button-container"></div>
        </div>
    </div>
</div>

    <script src="https://www.paypal.com/sdk/js?client-id={{paypal_client_id}}"></script>

    <div class="col" id="paypal-button-container"></div>            

    <script>
        const csrf = "{{csrf_token}}"
        document.addEventListener('DOMContentLoaded', function () {
            const orderId = "{{ order_id }}";

            paypal.Buttons({
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: "{{order.total_price}}"
                            }
                        }]
                    });
                },
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(details) {

                        fetch(`{% url 'order-placed' %}`, {
                            method: 'post',
                            headers: {
                                'content-type': 'application/json',
                                'X-CSRFToken':csrf,
                            },
                            body: JSON.stringify({
                                orderId: orderId,
                                paypalOrderId: data.orderID,
                            })
                        }).then(function(response) {
                            // Handle the server response
                            return response.json();
                        }).then(function(json) {
                            // Redirect to a success page
                        });
                    });
                }
            }).render('#paypal-button-container');
        });
    </script>
{% endblock %}